{% extends 'base.html' %}

{% block content %}
	<h4 class="text-center">Details</h4>
	{% if request.user == blog.owner %}
	<div class="text-center" >
	<a href="{% url 'edit_blog' blog.id %}" class="btn btn-info ">Edit</a>
	
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to delete {{ blog.title }}.
        {{ blog.title }} will be permanently deleted
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger"></button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
	{% endif %}
	<table class="table">
  
  <tbody>
    <tr>
      <th scope="row">Id</th>
      <td>{{ blog.id }}</td>
      </tr>
    <tr>
      <th scope="row">Title</th>
      <td>{{ blog.title }}</td>
       </tr>
    <tr>
      <th scope="row">Author</th>
      <td>{{ blog.owner }}</td>
    <tr>
      <th scope="row">Publish Time</th>
      <td>{{ blog.created_at }}</td>
   </tr>
 	<tr>
       <th scope="row">Last Viewed</th>
      <td>{{ blog.updated_at }}</td>
   </tr>
     <tr>
       <th scope="row">Views</th>
      <td>{{ blog.views }}</td>
   </tr>
   <tr>
       <th scope="row">Comments</th>
      <td>{{ comments_count }}</td>
   </tr>			
  </tbody>
</table>

{% endblock %}